@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;300;400;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
}

html {
    font-size: 62.5%;
}

.section-1 {
    width:100%;
    height: 100vh;
    background-color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.section-heading {
    font-size: 12rem;
    font-weight: 900;
    color: #fff;
    
}